body {
    background: lightgrey;
}

h1 {
    color: black;
}


/*#tasklist {
  background: lightblue
}*/
.mdl-list__item {
  line-height: 2;
  padding: 0px;
}
.mdl-list__item-primary-content.opentask {
    background: lightblue
}

.mdl-list__item-primary-content.closedtask {
    background: darkgrey;
    text-decoration: line-through;
}

#inputtask {
    width: 50%;
    margin: auto;
    color: black;
}

#tasklist {
    list-style: none
}

.material-icons {
    cursor: pointer
}

.taskcontainer {
    margin: auto;
    width: 50%;
}

.taskname {
    width: 10%;
    text-align: center;
}

.taskdescription {
    width: 80%;
    text-align: center;
    1
}

.taskpriority {
    width: 10%;
    text-align: center;
}
