body {
  /*background: black*/
}

h1 {
    color: white
  }

/*#tasklist {
  background: lightblue
}*/

.opentask {
  background: lightblue
}

.closedtask {
  background: darkgrey;
  text-decoration: line-through;
}

#inputtask {
  color: white
}

#tasklist {
  list-style:none
}

.material-icons {
  cursor: pointer
}
