body {
  /*background: black*/
}

h1 {
    color: black;
  }

/*#tasklist {
  background: lightblue
}*/

.opentask {
  background: lightblue
}

.closedtask {
  background: darkgrey;
  text-decoration: line-through;
}

#inputtask {
  color: black;
}

#tasklist {
  list-style:none
}

.material-icons {
  cursor: pointer
}
.taskname {

}
.taskdescription {

}
.taskpriority {

}
